@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
   padding: 0;
   margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
h3{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}
/* *****************navbar****************** */
nav{
    overflow: hidden;
   background-color: rgb(170, 197, 190);
    position: fixed;
  width: 100%;
  opacity:0.9;
}
header li {
    float: right;
    font-size:1.2em ;
}
header li a {
    text-transform: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo{
    font-family: 'Dancing Script', cursive;
   font-weight: bold;
   float: left;
}

/* ************image Principale *********** */
#imagePrincipale {
  padding-top: 1000000px;
 background: url(image/shutterstock_1299988534-870x600.jpg) no-repeat fixed 100% 100%;
 background-size: cover;
 height: 799px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:aqua ;
    font-size: 6em;
    margin-top: 55px;
    text-shadow: 1px 3px 2px black;
}
#premierTrait{
    height: 1px;
    width: 25%;
    margin:-3px auto ;
    background-color: aqua;
 
}
h3 {
    text-align: center;
    color: aqua;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}


/* ************page *********** */
#debut {
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ;
}
#socia{
    text-align: center;  
    justify-content: space-between;
    
}

#mobile{
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}

#lupin {
    text-align: center;  
justify-content: space-between;
}

#nepal {
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}

#olivier{
    text-align: center;  
    justify-content: space-between;
}

#calypso{
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}

#delphine{
    text-align: center;  
    justify-content: space-between;
}


/* ************pagef *********** */
#eml {
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}


#emp {
    text-align: center;  
    justify-content: space-between;
}

#catia{
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}

#myriam{
    text-align: center;  
    justify-content: space-between;
}

#emf {
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
  
}
#jjj{
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
  
}
#ems{
    text-align: center;  
    justify-content: space-between;
}
#daniel{
    padding: 0px 20%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}
#mbappe{
    text-align: center;  
    justify-content: space-between;
}
#giroud{
    padding: 0px 35%;
    font-family: 'Dancing Script', cursive;
    color:aqua ; 
}   
#olive{
    text-align: center;  
    justify-content: space-between;
}

